{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<div id="content-container">
  <div class="row lg-10 xl-8 align-items-center">
    <div class="col text-center">
      <a
        class="btn btn-secondary btn-lg dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select Your Category:</a
      >

      <ul class="dropdown-menu" id="category-dropdown">
        {% for category in categories%}
        <li>
          <a class="dropdown-item" href="#" data-category-id="{{ category.id }}"
            >{{category.title}}</a
          >
        </li>
        {%empty%}
        <li>
          <text class="dropdown-item">No Category</text>
        </li>
        {%endfor%}
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item" href="#">All Items</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="index-content-container"></div>

{% endblock %} {% block bodyscript %}

<script src="{% static 'auctions/category.js' %}"></script>
{% endblock %}
