{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div id="content-container">
    <div class="row lg-10 xl-8 justify-content-center align-items-end">

        <!--Watchlis--> 
        <div class="col-lg-10 mb-3">
            <text class="display-5 fw-bold position-relative position-relative pb-3 ">{{product.title}}              
                <span class="position-absolute badge  text-bg-light " style="font-size: 0.70rem;">
                    <button class="bg-light" id="watchlistbutton" style="background-color: inherit !important; 
                        border:none" onclick="this.blur()">
                    watchlist
                    <span id="svg-container">
                    {% if not iswatchlist %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" style ="color:red" id="heartIcon"> viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                      </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" style ="color:red" id="heartIcon"> viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                    {%endif%}
                    </span>
                </button>
                </span>
           
            </text>
       
        </div>
        {%if product.imageurl != ''%}
        <div class="col-lg-10 text-center">
            <img src={{product.imageurl}} class="img-fluid" alt="...">
        </div>
        {%endif%}
        {%if maxbid != None %}
        <div class="col-lg-10">
            <h5 class="fw-3 mt-0 mb-0"><small>price: </small>${{maxbid.price}}</h5>
            <small class="text-muted">Initial Price : ${{product.initialprice}}</small>
        </div>
        {%else%}
        <div class="col-lg-10">
            <h5 class="fw-3 mt-0 mb-0"><small>price: </small>${{product.initialprice}}</h5>
        </div>
        {%endif%}
    </div>
    <!--Bid Form-->
    <section id="sectionbid">
    {%if user.is_authenticated and product.active%}
        <form action="{%url 'list' product.id%}" method="post" id="bidForm"
            class="row lg-10 xl-8 justify-content-center align-items-end">
            {%csrf_token%}
            <div class="col-lg-8 mt-3">
                {%if msg%}
                <p class="text-danger mb-0">{{msg}}</p>
                {%endif%}
                {% if maxbid and maxbid.user == user%}
                <label for="bidinput" class="form-label"> {{product.productbids.all | length}} bid(s) so far <span class="text-success"> (Your bid is the current bid)</span>
                </label>
                {%else%}
                <label for="bidinput" class="form-label"> {{product.productbids.all | length}} bid(s) so far: </label>
                {% endif %}
                <input class="form-control mb-2" name="bidinput" id="bidinput"></input>
            </div>
            <div class="col-lg-2 text-center text-lg-start">
                <button type="submit" value="submit" class="btn btn-primary px-5 mb-2" id="bidbutton">Bid</button>
                {% if maxbid %}
                <div id="maxBid" data-maxbid="{{ maxbid.price }}" data-productid="{{product.id}}"></div>
                {%else%}
                <div id="maxBid" data-maxbid="{{ product.initialprice }}" data-productid="{{product.id}}"></div>
                {%endif%}
            </div>

            <div class="col-lg-10 text-start" id="error-message" style="display: none; color: red;">Your input is
                incorrect.
            </div>
        </form>
    {%endif%}
     </section>

    <!--description-->
    <section class="my-3" id="sectiondescription">
        <div class="row lg-10 xl-8 justify-content-center">
            <div class="col-lg-10 bg-light ">
            {% if product.description %}
                <p class="text-muted">Description: {{product.description}}</p>
            {% else %}
                <p class="text-muted">No description for this item</p>
            {% endif%}
            </div>       
        </div>
    </section>
    
    <!--Comments-->
    {% if user.is_authenticated %}
    <section id = "sectioncomment">
        <div class="row lg-10 xl-8 justify-content-center mt-4 mb-4">
            {%if comments%}
            <div class="col-lg-6 ">
                <div class="card" >
                    <div class="card-header">
                      Comments
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for comment in comments%}
                        <li class="list-group-item">                    
                            <p class="mt-0 mb-0"><small><em>{{comment.user.username}}</em>: {{comment.text}}</small></p>
                            <p class="mt-0 mb-0 muted"style="font-size :10px">{{comment.datetime}}</p>                   
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            {%else%}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">NO Comment</div>
                </div>
            </div>
            {%endif%}
            <div class="col-lg-8  bg-light">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                </div>
                <button class="btn btn-primary" id="commentbutton" data-product="{{product.id}}" disabled>Submit</button>
            </div>
        </div>
    </section>
    {% endif%}

    <!--Close section-->
    {% if user.is_authenticated and user == product.creatoruser%}
    <section id="sectionclose">
        <div class="row justify-content-center">
            <div class="col-4 col-md-2 text-center">
                <button class="btn btn-danger w-100" {% if not product.active %}disabled data-toggle="tooltip" data-placement="top" title="The item is not active anymore"{% endif %} data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Close Auction</button>          
            </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            Are you Sure you want to Close the list?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeauction" data-product="{{ product.id }}">Close Auction</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> 
   {% endif %}

{% endblock %}

{% block bodyscript %}
<script>
    var section = "{{ section }}"
    var product_id = "{{product.id}}"
</script>
    <script src="{% static 'auctions/list.js' %}"></script>
{% endblock %}