{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div id="content-container">
    <div class="row lg-10 xl-8 justify-content-center align-items-end">
        <div class="col-lg-10 mb-3">
            {%if not product.active and user == maxbid.user %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congratulation!</strong> You win this bid
            </div>
            {%endif%}
            <text class=" fw-bold position-relative position-relative pb-3 " style="font-size:35px">{%if product.title|length > 20%}{{product.title}}{%else%}<span style="font-size:45px">{{product.title}}</span>{%endif%}
                <!--Watchlis-->        
                <span class="position-absolute badge  text-bg-light " style="font-size: 0.70rem;">
                    <button class="bg-light" id="watchlistbutton" style="background-color: inherit !important; 
                        border:none" onclick="this.blur()">
                    {% if user.is_authenticated%}
                    watchlist
                    <span id="svg-container">
                    {% if not iswatchlist %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" style ="color:red" id="heartIcon"> viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                      </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" style ="color:red" id="heartIcon"> viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                    {%endif%}
                    </span>
                    {%endif%}
                </button>
                </span>         
            </text>
            {%if not product.active%}
            <p class ="text-warning">This item is closed</p>
            {%endif%}
       
        </div>
        


        {%if product.imageurl != ''%}
        <div class="col-lg-10 text-center">
            <hr class="text-center">
            <img src={{product.imageurl}} class="img-fluid" style="max-width: 100%; max-height: 400px" alt="...">
            <hr class="text-center">
        </div>
        {%endif%}

        {%if maxbid != None %}
        <div class="col-lg-10">
            <h5 class="fw-3 mt-0 mb-0"><small>price: </small>${{maxbid.price}}</h5>
            <small class="text-muted">Initial Price : ${{product.initialprice}}</small>
        </div>
        {%else%}
        <div class="col-lg-10">
            <h5 class="fw-3 mt-0 mb-0"><small>price: </small>${{product.initialprice}}</h5>
        </div>
        {%endif%}
    </div>

    <!--Bid Form-->
    <section id="sectionbid">
    {%if user.is_authenticated and product.active%}
        <form action="{%url 'list' product.id%}" method="post" id="bidForm"
            class="row lg-10 xl-8 justify-content-center align-items-end">
            
            {%csrf_token%}
            <div class="col-lg-8 mt-3">
                {% if msg_success %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Congratulation!</strong> {{msg_success}}
                </div>
                {%endif%}
                {% if msg_fail %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{msg_fail}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </div>
                <!--<p class="text-danger animated-message">{{msg}}</p>-->
                {%endif%}
                {% if maxbid and maxbid.user == user%}
                <label for="bidinput" class="form-label"><strong> {{product.productbids.all | length}} </strong> bid(s) so far <span class="text-success animated-message"> (Your bid is the current bid)</span>
                </label>
                {%else%}
                <label for="bidinput" class="form-label"> {{product.productbids.all | length}} bid(s) so far: </label>
                {% endif %}
                <input class="form-control mb-2" name="bidinput" id="bidinput" autofocus></input>
            </div>
            <div class="col-lg-2 text-center text-lg-start">
                <button type="submit" value="submit" class="btn btn-primary px-5 mb-2" id="bidbutton">Bid</button>
                {% if maxbid %}
                <div id="maxBid" data-maxbid="{{ maxbid.price }}" data-productid="{{product.id}}"></div>
                {%else%}
                <div id="maxBid" data-maxbid="{{ product.initialprice }}" data-productid="{{product.id}}"></div>
                {%endif%}
            </div>
        </form>
    {%endif%}
     </section>


    <!--description Categories seller-->
    <section class="mt-3" id="sectiondescription">
        <div class="row lg-10 xl-8 justify-content-center">
            <div class="col-lg-10 bg-light">
            {% if product.description %}
                <p class="my-1"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                  </svg> Description: <small>{{product.description}}</small></p>
            {% else %}
                <p class="my-1"><strong>Description: </strong><span class="text-muted">No description for this item</span></p>
            {% endif%}
            <p  class="my-1"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg> Category:<small> {{product.category}}</small></p>
            <p  class="my-1"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg> Creator User:<small> {{product.creatoruser}}</small></p>
            <p class="my-1"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
              </svg> Created on: <small> {{product.datetime}}</small></p>
            
            </div>       
        </div>
    </section>
    

    <!--Comments-->
    <section id = "sectioncomment">
        <div class="row lg-10 xl-8 justify-content-center mt-4 mb-4">
            {%if comments%}
            <div class="col-lg-6 ">
                <div class="card" >
                    <div class="card-header">
                        <strong>Comments</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for comment in comments%}
                        <li class="list-group-item">                    
                            <p class="mt-0 mb-0"><small><em>{{comment.user.username}}</em>: {{comment.text}}</small></p>
                            <p class="mt-0 mb-0 muted"style="font-size :10px">{{comment.datetime}}</p>                   
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            {%else%}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">NO Comment</div>
                </div>
            </div>
            {%endif%}
            <!--Comment Box-->
            {% if user.is_authenticated %}
            <div class="col-lg-8  bg-light">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                </div>
                <button class="btn btn-primary" id="commentbutton" data-product="{{product.id}}" disabled>Submit</button>
            </div>
            {% endif%}
        </div>
    </section>
    

    <!--Close section-->
    {% if product.active and user.is_authenticated and user == product.creatoruser %}
    <section id="sectionclose">
        <div class="row justify-content-center">
            <div class="col-4 col-md-2 text-center">
                <button class="btn btn-danger w-100" {% if not product.active %}disabled data-toggle="tooltip" data-placement="top" title="The item is not active anymore"{% endif %} data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Close Auction</button>          
            </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            Are you Sure you want to Close the list?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeauction" data-product="{{ product.id }}">Close Auction</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    {% endif %}
</div> 
  

{% endblock %}

{% block bodyscript %}
<script>
    var section = "{{ section }}"
    var product_id = "{{product.id}}"
</script>
    <script src="{% static 'auctions/list.js' %}"></script>
{% endblock %}